@import "variables";

// CONSTANTS
@root-padding     : 20px; // the left/right padding of the root housing element
@padding          : 1rem;
@header-height    : 2rem;
@left-border-width: 0.2rem;
@line-height      : 1.25rem;
@indent           : 2ch;

.gcl {
    height: 100%;
}

.gcl-panel {
    // dimensions
    padding-top: @header-height + @padding;
    line-height: @line-height;

    white-space: pre;

    // prevents the view from reacting when being focused
    outline   : none !important;
    box-shadow: none;

    #gcl-connection-status {
        // place it at the top right corner 
        position: absolute;
        top     : @padding * 2;
        right   : @padding* 2;

        // text style 
        font-size   : 75%;
        font-weight : bold;
        font-variant: small-caps;
        color       : @foreground-tenuous;
    }

    .codicon {
        vertical-align: middle;
    }

    ul {
        list-style: none;
        padding   : 0px;
        margin    : 0px;
    }

    li {
        // dimensions
        margin: @padding 0;

        &:first-of-type {
            margin-top: 0;
        }

        &:hover {
            .item-raw-button {
                visibility: visible;
            }
        }

    }

    // Block

    // TODO: refactor this
    .element-deco-red {
        border-left-color: @error  !important;

        .element-block-header {
            color: @error  !important
        }
    }

    .element-deco-yellow {
        border-left-color: @warning  !important;

        .element-block-header {
            color: @warning  !important
        }
    }

    .element-deco-green {
        border-left-color: @success  !important;

        .element-block-header {
            color: @success  !important
        }
    }

    .element-deco-blue {
        border-left-color: @info  !important;

        .element-block-header {
            color: @info  !important
        }
    }

    li.element-block {
        background : @body-background;
        border-left: @left-border-width solid @body-background;

        .element-block-header {

            background-color: orange;

            padding    : @padding;
            height     : @line-height;
            line-height: @line-height;

            color: @foreground-tenuous;

            font-variant: small-caps;
            font-weight : bolder;

            .element-block-header-range {
                font-variant: normal;
                font-weight : normal;
                float       : right;
            }
        }

        .element-block-body {

            background-color: greenyellow;
            // dimensions 
            padding         : 0 @padding;

            &:last-of-type {
                padding-bottom: @padding
            }

            p {
                background-color: cornflowerblue;
                margin          : 0;
                padding         : @padding;

                &:last-of-type {
                    margin-bottom: 0
                }

                // text 
                font-family: Menlo,
                Monaco,
                'Courier New',
                monospace;
                white-space: pre-wrap;
                overflow-y : scroll;
            }

            pre {
                background-color: cornflowerblue;
                // dimensions
                margin          : 0;
                padding         : @padding;
                // backgroung
                background      : @header-background;
                // text 
                font-family     : Menlo, Monaco, 'Courier New', monospace;
                white-space     : pre-wrap;
                overflow-y      : scroll;
            }
        }

    }
}


////////////////////////////////////////////////////////////////////////////////
// Inline Elements
////////////////////////////////////////////////////////////////////////////////

.element-link {
    .codicon-link::after {
        content    : " ";
        white-space: pre;
    }
}

.element-link:hover {
    cursor: pointer;

    .element-block-header {
        color: @foreground-subtle;
    }
}



// the parent container of a Horizontal grouping 
.element-horz {
    // so that we can set paddings
    display     : inline-flex;
    flex-wrap   : wrap;
    // use padding-left to indent every child
    padding-left: @indent - 1ch;
}

// but don't indent the first child
.element-horz-item:first-of-type {
    margin-left: -(@indent - 1ch);
}

// seperate each .element-horz-item
.element-horz-item {
    margin-left: 1ch;

    // no margin, for parentheses around other horz-items
    &.compact {
        margin-left: 0
    }
}

// the parent container of a Vertical grouping 
.element-vert {
    display       : flex;
    flex-direction: column;
}

// highlight the background of env in <Sbst> on hover
.element-sbst-env {
    &:hover {
        cursor    : pointer;
        color     : @warning;
        background: @body-background;

        .element-horz {
            background: @body-background
        }
    }
}

// for styling parentheses
.element-parentheses {
    color: @foreground-subtle;

    &.activated {
        cursor     : ew-resize;
        color      : @warning;
        font-weight: bolder;
    }
}