@header-height: 60px;


.gcl {
    // background: var(--vscode-sideBar-background);
    background: red;
    height: 100%;
}

.gcl-header {
    /* color: var(--vscode-panelTitle-activeForeground);
    background: var(--vscode-statusBar-background); */
    height: @header-height;

    // background: var(--vscode-sideBarSectionHeader-background);
}

.gcl-body {
    background: var(--vscode-sideBar-background);
}