@import "variables";

// CONSTANTS
@root-padding      : 20px; // the left/right padding of the root housing element
@padding           : 1rem;
@left-border-width : 0.2rem;
@line-height       : 1.25rem;
@header-line-height: 2rem;
@indent            : 2ch;

.gcl {
    height: 100%;
}

.gcl-panel {
    // dimensions
    padding-top: @padding * 3;
    line-height: @line-height;

    white-space: pre;

    // prevents the view from reacting when being focused
    outline   : none !important;
    box-shadow: none;

    #gcl-connection-status {
        // place it at the top right corner 
        position: absolute;
        top     : @padding;
        right   : @padding* 2;

        // text style 
        font-size   : 75%;
        font-weight : bold;
        font-variant: small-caps;
        color       : @foreground-tenuous;
    }

    .codicon {
        vertical-align: middle;
    }

    ul {
        list-style: none;
        padding   : 0px;
        margin    : 0px;
    }

    // Block

    li.element-section {
        background : @body-background;
        border-left: @left-border-width solid @body-background;

        padding      : 0 @padding;
        margin-bottom: @padding;
        // to prevent children <Block> elements from margin-collapsing
        overflow     : hidden;

        header {

            margin : @padding 0;
            padding: 0;

            height     : @header-line-height;
            line-height: @header-line-height;

            color: @foreground-tenuous;

            font-variant: small-caps;
            font-weight : bolder;

            .element-block-header-range {
                font-variant: normal;
                font-weight : normal;
                float       : right;
            }
        }

        p {
            margin : @padding 0;
            padding: 0;

            // text 
            font-family: Menlo,
                Monaco,
                'Courier New',
                monospace;
            white-space: pre-wrap;
            overflow-y : scroll;
        }

        pre {
            background-color      : @header-background;
            // dimensions
            margin                : @padding 0;
            padding               : @padding;
            // text 
            font-family           : Menlo, Monaco, 'Courier New', monospace;
            white-space           : pre-wrap;
            // overflow-y         : scroll;


            .element-block-code-buttons {
                display: none;
                float  : right;

                button {
                    // dimensions 
                    margin-left: 1ex;
                    // text
                    color: @foreground-tenuous
                }
                button:hover {
                    color: @foreground
                }
            }

            // only display buttons when the parent <pre> is being hovered
            &:hover .element-block-code-buttons {
                display: inherit;
            }
        }

    }


    // TODO: refactor this
    .element-deco-red {
        border-left-color: @error  !important;

        header {
            color: @error  !important
        }
    }

    .element-deco-yellow {
        border-left-color: @warning  !important;

        header {
            color: @warning  !important
        }
    }

    .element-deco-green {
        border-left-color: @success  !important;

        header {
            color: @success  !important
        }
    }

    .element-deco-blue {
        border-left-color: @info  !important;

        header {
            color: @info  !important
        }
    }


    // Reset styles of <button>s
    button {
        margin    : 0;
        padding   : 0;
        border    : 0;
        outline   : 0;
        background: inherit;
        cursor    : pointer;
        color: inherit;
    }
}


////////////////////////////////////////////////////////////////////////////////
// Inline Elements
////////////////////////////////////////////////////////////////////////////////

.element-link {
    .codicon-link::after {
        content    : " ";
        white-space: pre;
    }
}

// the parent container of a Horizontal grouping 
.element-horz {
    // so that we can set paddings
    display     : inline-flex;
    flex-wrap   : wrap;
    // use padding-left to indent every child
    padding-left: @indent - 1ch;
}

// but don't indent the first child
.element-horz-item:first-of-type {
    margin-left: -(@indent - 1ch);
}

// seperate each .element-horz-item
.element-horz-item {
    margin-left: 1ch;

    // no margin, for parentheses around other horz-items
    &.compact {
        margin-left: 0
    }
}

// the parent container of a Vertical grouping 
.element-vert {
    display       : flex;
    flex-direction: column;
}

// highlight the background of env in <Sbst> on hover
.element-sbst-env {
    &:hover {
        cursor    : pointer;
        color     : @warning;
        background: @body-background;

        .element-horz {
            background: @body-background
        }
    }
}

// for styling parentheses
.element-parentheses {
    color: @foreground-subtle;

    &.activated {
        cursor     : ew-resize;
        color      : @warning;
        font-weight: bolder;
    }
}